{% extends "index.html" %}
{% load static %}
{% block content %}

    <section id="featured">
        <h2>Featured Recipes</h2>
        <div class="recipes">
          {% for recipe in featured_recipes %}
          <div class="recipe-card">
            <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" />
            <h3>{{ recipe.title }}</h3>
            <p>Cooking Time: {{ recipe.cooking_time }} mins | Difficulty: {{ recipe.difficulty }}</p>
            <a href="{% url 'recipe_detail' recipe.id %}">View Recipe</a>
          </div>
          {% empty %}
          <p>No featured recipes available.</p>
          {% endfor %}
        </div>
    </section>
  
    <section id="popular">
        <h2>Popular/Seasonal Recipes</h2>
        <div class="recipes">
          {% for recipe in popular_recipes %}
          <div class="recipe-card">
            <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" />
            <h3>{{ recipe.title }}</h3>
            <p>Cooking Time: {{ recipe.cooking_time }} mins | Difficulty: {{ recipe.difficulty }}</p>
            <a href="{% url 'recipe_detail' recipe.id %}">View Recipe</a>
          </div>
          {% empty %}
          <p>No popular recipes available.</p>
          {% endfor %}
        </div>
    </section>

{% endblock %}
