{% extends "index.html" %}
{% load static %}
{% block content %}
  <h1>Recipe List</h1>
  <ul class="recipe-list">
    {% for recipe in page_obj %}
      <li>
        <a href="{% url 'recipe_detail' recipe.pk %}">
          <h2>{{ recipe.title }}</h2>
          <p>{{ recipe.description|truncatewords:20 }}</p>
        </a>
      </li>
    {% empty %}
      <li>No recipes available.</li>
    {% endfor %}
  </ul>
  <div class="pagination">
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
  </div>
  
{% endblock %}
