

.search {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: none;
    width: 60%;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    padding: 0 10px;
}
.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: 0;
    padding: 14px 10px;
    font-size: 15px;
    color: gray;
}
.search-bar input::placeholder{
    color: gray;
    padding-left: 4px;
}
.input-group input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}
.search-bar button{
    background: transparent;
    outline: 0;
    border: 0;
    
}
.search-bar button i{
    color: grey;
    font-size: 20px;
    padding-right: 10px;
}

.recipes-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 75px;
    width: 80%;
    justify-self: center    ;
  }
  .recipe-card {
    
    background: rgba(255, 255, 255, 0.5);
    border-radius: var(--border-radius);
    padding: 10px;
    display: flex;
    align-items: center;
    
  }
  .recipe-image {
    width: 150px;
    height: auto;
    margin-right: 20px;
    object-fit: cover;
    border-radius: var(--border-radius);
  }
  .recipe-details {
    display: flex;
    flex-direction: column;
  }
  .recipe-details h2 {
    margin: 0 0 10px;
  }
  .recipe-details p {
    margin: 2px 0;
  }

.pagination {
    justify-self: center;
}

.pagination a {
    font-size: medium;
    font-weight: 500;
    padding: 8px 15px;
    margin-left: 8px;
    border: none;
    border-radius: var(--border-radius);
    border: 2px solid var(--text-color-main);
    background: var(--box-background);
    color: var(--text-color-main);
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color var(--transition-speed);
    text-decoration: none;
}

