
.home{
    height: auto;
    width: auto;
    min-height: 60vh;
    
    display: flex;
    /*grid-template-columns: repeat(2, 1fr);*/
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 0 10%;
    
   
}

.home-text h5{
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}
.home-text h4 {
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 40px;
    display: flex;
    align-items: center; 
    margin-right: 0;
}

.home-text h4 a {
    display: block;
    transition: all .55s ease;
    outline: none;
    background: transparent;
    border: none;
    margin-left: -20px;

}

.home-text h4 a:hover{
    color: #5E398E;
    border: none;
    transform: translateX(5px);
}
.home-text h1{
    font-size: 90px;
    font-weight: 700;
    color: white;
    margin-bottom: 0px;
}
.home-text h2{
    font-size: 80px;
    font-weight: 500;
  
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    margin-bottom: 0px;
}
.home-text p{
    font-size: 15px;
    font-weight: 400;
    color: white;
}
.home-img img{
    max-width: 300px;
    height: auto;
} 
.home-text a{
    
    color: white;
    background: #5E398E;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    margin-right: 5px;
   
    
}
.home-text a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateX(5px);
}
.home-text a.ctaa{
    background: transparent;
    border: 1px solid white;
    
}
.home-text a.ctaa:hover{
    background:#5E398E;
}
.home-text a.ctaa i{
    vertical-align: middle;
    margin-right: 5px;
}

@media (max-width: 1460px) {
    section{
        padding: 0 12%;
        transition: 2s;
    }
}
@media (max-width: 1340px) {
    .home-img img{
        width:100%;
        height: auto;
    }
    .home-text h1{
        font-size: 75px;
        margin: 0 0 30px;
    }
    .home-text h4{
        margin-bottom: 25px;
    }
}
@media (max-width: 1195px) {
    section{
        padding: 0 3%;
        transition: .2s;
    }   
    .home-text{
        padding-top: 115px;
    } 
    .home-img{
        text-align: center;
    }
    .home-img img{
        max-width: 560px;
        height: auto;
    }
}
@media (max-width: 990px) {
    .home{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 1rem;
       
    }
}
@media (max-width: 680px) {
    .home-img img{
        width: 100%;
        height: auto;

    }
}