.login{
    height: auto;
    width: 100%;
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-panel {
    background: var(--bg-gradient);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    padding: 45px 60px;
    
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0 20%;
    align-self:center;
}
.login-text {
    display: grid;
    place-items: center; 
    height: 100%;
}

.login-text h1 {
    font-size: 30px;
    font-weight: 550;
    color: white;
    margin-top: -5%;
    text-align: center; 
    margin-bottom: 40px;
}  
.input-group {
    position: relative;
    margin-bottom: 30px;
    margin-top: -10px;
}
.input-group input {
    outline:none;
    width: 100%;
    padding: 10px 45px 10px 45px;
    border-radius: 20px;
    border: 1px solid white;
    background: transparent;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.25);
    color: white;
}
.input-group input::placeholder {
    color: white;
}
.input-group input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}

.input-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}
  
.login-button {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-weight: 700;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    background: transparent;
    
    
}
.login-button:hover {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: none;
    transition: var(--transition-speed);
}
  
.signup-link {
    text-align: center;
    color: white;
}

.signup-link a{
    text-decoration: none;
    font-weight: 800;
    color:white;
}
.signup-link a:hover{
    text-decoration: underline;
}
