{% extends "index.html" %}

{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/browse.css') }}">
{% endblock %}

{% block content %}
<div class="search">
    <form action="{{ url_for('views.browse') }}"  method="POST" class="search-bar">
        <input type="text" id="search" name="search" placeholder="Search" autocomplete="off">
        <button type="submit"><i class="ri-search-line"></i></button>
    </form>
</div>

<div class="recipes-list">
    {% for recipe in recipes %}
      <div class="recipe-card">
        <img src="{{ url_for('static', filename=recipe.image) }}" class="recipe-image" alt="Recipe Image">
        <div class="recipe-details">
          <h2>{{ recipe.title }}</h2>
          <p>Cooking Time: {{ recipe.cooking_time }} minutes</p>
          <p>Difficulty: {{ recipe.difficulty }}</p>
        </div>


      </div>
    {% endfor %}
</div>

<div class="pagination">
{% if prev_page %}
    <a href="{{ url_for('views.browse', page=prev_page) }}">Previous</a>
{% endif %}
{% if next_page %}
    <a href="{{ url_for('views.browse', page=next_page) }}">Next</a>
{% endif %}
</div>


{% endblock %}
