{% extends "index.html" %}

{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/create-recipe.css') }}">
{% endblock %}

{% block content %}
  <div class="add-recipe-container">
    <h2>Edit Recipe</h2>
    <form action="{{ url_for('views.edit_recipe', recipe_id=recipe.id) }}" method="POST" enctype="multipart/form-data">
      <div class="form-section">
        <div class="input-group">
          <label for="title" class="form-label">Title: </label>
          <input class="form-label" type="text" id="title" name="title" placeholder="Enter title..." required value="{{ recipe.title }}">
        </div>

        <div class="input-group">
            <label for="tag-input" class="form-label">Enter tags</label>
            <input class="form-label" id="tag-input" type="text" placeholder="Enter tags">
            <div class="tags-area" id="tags-area"></div>
            <input type="hidden" id="hidden-tags" name="tags" value="{{ tags }}">
        </div>

        <div class="input-group">
          <label for="cooking_time" class="form-label">Cook Time: </label>
            <input class="form-label" type="number" id="cooking_time" name="cooking_time" placeholder="Enter cooking time in minutes..." required value="{{ recipe.cooking_time }}">
        </div>

        <div class="input-group">
          <label for="difficulty" class="form-label">Difficulty (<span id="difficultyValue">{{ recipe.difficulty }}</span>/5):</label>
          <input class="form-label" type="range" id="difficulty" name="difficulty" min="1" max="5" value="{{ recipe.difficulty }}" oninput="document.getElementById('difficultyValue').innerText = this.value">
        </div>

      </div>
        <div class="form-section">
          <div class="form-section-title">Recipe Image</div>
          <div class="input-group">
              <label for="image" class="form-label">Upload an image: </label>
              <div class="file-upload-container">
                  <div class="file-upload-preview" id="image-preview">
                      <img src="{{ url_for('static', filename=recipe.image) }}" alt="Recipe Image">
                  </div>
                  <label for="image" class="file-upload-button">Choose New Image</label>
                  <input class="form-label" type="file" id="image" name="image" accept="image/*">
              </div>
          </div>
        </div>

      
        <div class="input-group">
          <label for="instructions" class="form-label">Instructions</label>
          <textarea class="form-label" id="instructions" name="instructions" rows="5" placeholder="Enter instructions..." required>{{ recipe.instructions }}</textarea>
        </div>

        <button type="submit" class="create-button">Update Recipe</button>
    </form>
     
    <script src="{{ url_for('static', filename='js/edit-recipe.js') }}" defer></script>
  </div>

</section>

{% endblock %} 